{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/players/bwp-auditions.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
BWP Auditions
{% endblock %}

{% block page-icon %}
<i class="fa fa-music fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
BWP Auditions
{% endblock %}

{% block content %}

<p>The audition will consist of one prepared piece of your own choice, followed by a piece of sight reading. Your chosen piece should be approximately 5 minutes long - the panel may stop you after this time.</p>

<p>Weekend auditions will take place in the University Music Department, 14 University Gardens - just along from the Queen Margaret Union. Tuesday evening auditions will be in the Concert Hall, Main Building - A12 on the campus map, next to Hunter Halls.</p>

<hr class="primary"/>

<p>To book an audition please select a time below and complete the booking process. Can percussion please book auditions on the Tuesday evening. If you are having any difficulties, please contact <a href="mailto:webmaster&#64;kelvin-ensemble.co.uk">webmaster@kelvin-ensemble.co.uk</a>.

<br/><br/>
<iframe class="audition-iframe" src="https://bwp-kelvin-ensemble-auditions.youcanbook.me/?noframe=true&skipHeaderFooter=true" onload="keepInView(this);"></iframe>
<script>function keepInView(item) {if((document.documentElement&&document.documentElement.scrollTop)||document.body.scrollTop>item.offsetTop)item.scrollIntoView();}</script>

<p>Thank you and good luck!</p>

{% endblock %}