{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/players/calendar.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
Calendar
{% endblock %}

{% block page-icon %}
<i class="fa fa-calendar fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Calendar
{% endblock %}

{% block content %}

<p>
Rehearsals and other events will be added to the calendar below as they are scheduled.  If this information looks incomplete, please <a href="committee">email</a> either the Brass/Wind/Percussion manager or the Strings manager.
</p>

<br/>

<iframe class="iframe-calendar" src="https://calendar.google.com/calendar/embed?src=webmaster%40kelvin-ensemble.co.uk&amp;ctz=Europe/London"></iframe>
<p>
If you are unable to make a rehearsal, please send an email to the <a href="mailto:stringmanager@kelvin-ensemble.co.uk">String Managers</a> or <a href="mailto:bwp@kelvin-ensemble.co.uk">BWP Managers</a>.
</p>
<!--
<br/><p>Committee members can log in to <a href="http://www.google.com/calendar/hosted/kelvin-ensemble.co.uk/render">edit the calendar</a> or access the committee email (for information on how to do this, please contact  <a href="mailto:webmaster&#64;kelvin-ensemble.co.uk">webmaster@kelvin-ensemble.co.uk</a>).</p>
-->

{% endblock %}
