{% extends "website/base/subbase.html" %}
{% load static %}
{% block extrastyle %}
    <style>
    #page-header {
        background-image: url("{% static 'website/media/img/headers/players/calendarr.jpg' %}");
    }
    </style>
{% endblock %}
{% block title %}Calendar{% endblock %}
{% block page-icon %}<i class="fa fa-calendar fa-3x sr-contact text-white header-icon"></i>{% endblock %}
{% block header %}Calendar{% endblock %}
{% block content %}
    <p>
        Rehearsals and other events will be added to the calendar below as they are scheduled.  If this information looks incomplete, please <a href="committee">email</a> either the Brass/Wind/Percussion manager or the Strings manager.
    </p>
    <br />
    <iframe class="iframe-calendar"
            src="https://calendar.google.com/calendar/embed?src=webmaster%40kelvin-ensemble.co.uk&amp;ctz=Europe/London"></iframe>
    <p>
        <b> Calendar Address: </b> https://calendar.google.com/calendar/ical/webmaster%40kelvin-ensemble.co.uk/public/basic.ics
    </p>
    <p>
        The Kelvin Calendar can be synced with the calendar app on your phone/laptop by adding the above address to your email account.  This way, any changes to concerts, rehearsal times, and other events will automatically update on your device! Click for <a href="https://support.google.com/calendar/answer/37100?co=GENIE.Platform%3DDesktop&hl=en">Gmail Instructions</a>, <a href="https://support.apple.com/en-gb/HT202361">iCloud Instructions</a>, <a href="https://support.office.com/en-gb/article/import-or-subscribe-to-a-calendar-in-outlook-com-cff1429c-5af6-41ec-a5b4-74f2c278e98c">Outlook.com Instructions</a>, <a href="https://support.office.com/en-gb/article/import-or-subscribe-to-a-calendar-in-outlook-on-the-web-503ffaf6-7b86-44fe-8dd6-8099d95f38df">Microsoft Exchange (Uni Email) Instructions</a>.  If you have any problems with this, <a href="mailto:webmaster@kelvin-ensemble.co.uk">please email the webmaster</a>!
    </p>
    <p>
        If you are unable to make a rehearsal, please send an email to the <a href="mailto:stringmanager@kelvin-ensemble.co.uk">String Managers</a> or <a href="mailto:bwp@kelvin-ensemble.co.uk">BWP Managers</a>.
    </p>
    <!-- <br /><p>Committee members can log in to <a href="http://www.google.com/calendar/hosted/kelvin-ensemble.co.uk/render">edit the calendar</a> or access the committee email (for information on how to do this, please contact  <a href="mailto:webmaster&#64;kelvin-ensemble.co.uk">webmaster@kelvin-ensemble.co.uk</a>).</p> -->
{% endblock %}
