{% extends "website/base/subbase.html" %}
{% load static %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/players/joinn.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
Composition Competition
{% endblock %}

{% block page-icon %}
<i class="fa fa-pencil fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Composition Competition
{% endblock %}

{% block content %}

<div class="left_align_text allow_bullets">

    <img src="{% static 'website/media/img/KECompositionPoster.png' %}" alt="Composition Competition Poster" style="width: 100%; padding-top: 0px"/>

<hr class="primary"/>

    <h2 style="text-align: center"> Please send all entries to: </h2>
    <a style="text-align: center; font-weight: bold" href="mailto:ordinarymember2@kelvin-ensemble.co.uk?subject=Composition%20Competition%20Entry"><h2>ordinarymember2@kelvin-ensemble.co.uk</h2></a>
    <p style="text-align: center">Please include your name, the name of the piece, and a copy of the score. All scores must be electronically notated.</p>


</div>

	{% endblock %}
	