{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block title %}
Constitution 2017
{% endblock %}

{% block page-icon %}
<i class="fa fa-file-text fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Our Constitution from the 2017 AGM
{% endblock %}

{% block content %}
<object data="{% static 'website/media/KelvinConstitution2017.pdf' %}" type="application/pdf" width="100%" height="500px">
  <embed src="{% static 'website/media/KelvinConstitution2017.pdf' %}" type="application/pdf" />
</object>
{% endblock %}