{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
  #page-header {
    background-image: url("{% static 'website/media/img/headers/7.jpg' %}");
  }
</style>
{% endblock %}

{% block title %}
Kelvin Info
{% endblock %}

{% block page-icon %}
<i class="fa fa-info fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Kelvin Info
{% endblock %}

{% block content %}

<p>
    We have regular rehearsals on Tuesday evenings in the Concert Hall, and often additional rehearsals in the weekends approaching the concerts.
</p>

<!--
<h1>Auditions and Open Rehearsal</h1>
<p>
    There will be an open rehearsal on 19 Sept in the Concert Hall from 2:30-4:30pm.
<p>
    Auditions will be on 26th &amp; 27th of September (Strings), 29th of September (Mixed, with preference for Percussion), and 3rd &amp; 4th of October (Brass/Woodwinds).
</p>
<p>
  To book an audition time, head over to the <a href="../contact_us/join.php">Join</a> page for information and the booking page.
</p>
<br/>
-->

<p>
  For those interested in joining the ensemble, please <a href="contact">email us</a> to find out more.  We hold auditions in mid to late September, coinciding with the start of the academic year, however we do occasionally need extra players so it's always worth letting us know if you are interested.
</p>

<hr class="primary"/>

<p>The Kelvin Ensemble's Constitution can be downloaded <a href="{% static 'website/media/KelvinConstitution2017.pdf' %}">here</a>.</p>
 
<hr class="primary"/>

Scottish Charity No: SC022303<br/>
The Department of Music, University of Glasgow <br/>
14 University Gardens, Glasgow, G12 8QQ

{% endblock %}