{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/players/join.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
Join Kelvin
{% endblock %}

{% block page-icon %}
<i class="fa fa-thumbs-o-up fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Join Kelvin
{% endblock %}

{% block content %}

<h2> Video auditons now open! </h2>
<hr class="primary"/>
<div class="left_align_text allow_bullets">

	<p>
		We’re really excited to see that you’re interested in applying for Kelvin!
		At Kelvin we audition to help make the orchestra as satisfying and challenging as possible while
		keeping things fair, we can’t fit 14 trumpets in, for example. The orchestra is auditioned new each
		year with <strong>everyone</strong> auditioning – even the committee!

	</p>

	<p>
		Due to the restrictions, it is unlikely that there will be any playing in 1st semester. All other GU music
		societies are having the same issues. We will, however, be ready to begin rehearsals whenever
		possible and in the meantime work on online projects and socials. :) We won’t meet until it is safe
		and legal.
	</p>
	<!-- <hr class="primary"/> -->
	<h2 style='margin-bottom: 16px;'> About the audition </h2>
	<p>
		What we’re looking for is a video where you introduce yourself (so we know who’s audition it is) and
		then show off your playing. We’d like to hear the excerpt for your instrument (and doubling
		instrument if applicable) and around 3 minutes of a piece of your choice that you feel shows your
		ability in its best light. Feel free to cut your piece short, we don’t need to hear the whole thing.
		Once you’ve submitted your video please fill out <a href="https://forms.gle/Qv2z25aoVajajh2i9">this form</a> to complete your audition.
	</p>

	<p >Your audition will only be watched by the audition panel and will be deleted once auditions are over.</p>
	<p style='margin-top: -22px;'><strong>The closing date for auditions has been extended to 11th October.</strong></p>

	<hr class="primary"/>
<h2 style='margin-bottom: 16px;'> Excerpts </h2>
<p>Please find the excerpts below:
    <h5> Strings </h5>
        <ul>
            <li> <a href="{% static 'website/media/excerpts/2020/String/Guidance.pdf' %}">Guidance</a> </li>
            <li> <a href="{% static 'website/media/excerpts/2020/String/Violin.pdf' %}">Violin excerpt</a> </li>
            <li> <a href="{% static 'website/media/excerpts/2020/String/Viola.pdf' %}">Viola excerpt</a></li>
            <li> <a href="{% static 'website/media/excerpts/2020/String/Cello.pdf' %}">Cello excerpt</a></li>
            <li> <a href="{% static 'website/media/excerpts/2020/String/Bass.pdf' %}">Double Bass excerpt</a></li>
        </ul>
    <h5> Woodwind and Brass </h5>
    <ul>
        <li> <a href="{% static 'website/media/excerpts/2020/BWP/Guidance.pdf' %}">Guidance</a> </li>
        <li> <a href="{% static 'website/media/excerpts/2020/BWP/BWP-Excerpts.pdf' %}">Excerpts</a></li>
    </ul>
	</ul>
	<h5> Percussion </h5>
	<p>	
		Please register your interest in playing by emailing the <a href="mailto:bwp@kelvin-
		ensemble.co.uk">BWP manager</a>.
	</p>

	<hr class="primary"/>
	<p>
		Please message your video and a picture of the sheet music that you’re playing to the Kelvin
		ensemble <a href="https://www.facebook.com/kelvinensemble">Facebook page</a>

		Alternatively, please upload it to a google drive, click share and enter
		either stringmanager@kelvin-ensemble.co.uk if you play strings or bwp@kelvin-ensemble.co.uk if
		you play brass or woodwind. Please also share a picture of the sheet music you are playing from and
		put your name in the title of the picture.
	</p>
	<p>
		If you have any issues or questions please message the <a href="https://www.facebook.com/kelvinensemble">Facebook page</a> or email the <a href="mailto:bwp@kelvin-
		ensemble.co.uk">BWP manager</a> or <a href="mailto:stringmanager@kelvin-ensemble.co.uk">string manager</a> and they will get back to you.
	</p>
	<p><strong>Please remember to fill out <a href="https://forms.gle/Qv2z25aoVajajh2i9">this form</a> to complete your audition.</strong></p>
</div>
	
	{% endblock %}
	