{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/1.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
Join Kelvin
{% endblock %}

{% block page-icon %}
<i class="fa fa-thumbs-o-up fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Join Kelvin
{% endblock %}

{% block content %}

<!--
<p>
Kelvin Ensemble hold auditions shortly after term starts in September and October - Auditions are over for this year, but feel free to get in touch with us if you are interested in playing with us and we will let you know if we have a space for you.
</p>
-->

<p>
	The Kelvin Ensemble runs auditions each academic for its members. All players will play a piece of their choice which lasts about 4 to 5 minutes, and additionally string players will play an excerpt and bwp players will play some sight-reading.
</p>	

<hr class="primary"/>

<p>
  String players can find out more information and book an audition <a href="string-auditions"><b>here</b></a>, and Brass, Wind, Percussion and Piano can do the same <a href="bwp-auditions"><b>here</b></a>.
</p>

{% endblock %}