{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/players/join.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
Join Kelvin
{% endblock %}

{% block page-icon %}
<i class="fa fa-thumbs-o-up fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Join Kelvin
{% endblock %}

{% block content %}


<p>
Kelvin Ensemble hold auditions shortly after term starts in September and October. 

<hr class="primary"/>
<!--
Auditions are over for this year, but feel free to get in touch with <a href="mailto:secretary@kelvin-ensemble.co.uk">secretary@kelvin-ensemble.co.uk</a> if you are interested in playing with us and we will let you know if we have a space for you.
</p>
-->
<p>
	The Kelvin Ensemble runs auditions each academic year for its members. These can be students from any university in Glasgow. All players will play a piece of their choice which lasts about 4 to 5 minutes, and an excerpt that will be published on the website. If any violinists are auditioning for leader they will also need play some sight-reading. For an specific concerns please contact the relevant manager for your instrument <a href="contact">here</a></p>	
<!--
<hr class="primary"/>

<p>
  String players can find out more information and book an audition <a href="string-auditions"><b>here</b></a>, and Brass, Wind, Percussion and Piano can do the same <a href="bwp-auditions"><b>here</b></a>.
</p> -->

{% endblock %}