{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/players/string-auditions.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
String Auditions
{% endblock %}

{% block page-icon %}
<i class="fa fa-music fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
String Auditions
{% endblock %}

{% block content %}

<p>The audition will consist of one prepared piece of your own choice, followed by an excerpt that <!--will be made available closer to the time--> is available below. Your chosen piece should be approximately 3-5 minutes long - the panel may stop you after this time. Violinists wanting to audition for leader will also be asked to play a piece of sight reading.</p>

<p>Weekend auditions will take place in the University Music Department, 14 University Gardens - just along from the Queen Margaret Union on the 23rd, 29th and 30th of September.</p>

<hr class="primary"/>

<p>To book an audition please select a time below, and complete the booking process. If you are having any difficulties, please contact <a href="mailto:webmaster&#64;kelvin-ensemble.co.uk">webmaster@kelvin-ensemble.co.uk</a>.</p>

<hr class="primary"/>
<p>You can download the violin excerpt <a href="{% static 'website/media/excerpts/String/Violin.pdf' %}">here</a>, bars 118-155, the viola excerpt <a href="{% static 'website/media/excerpts/String/Viola.pdf' %}">here</a>, bars 252-first beat of 281 (top line), the cello excerpt <a href="{% static 'website/media/excerpts/String/Cello.pdf' %}">here</a>, bars 43-first beat of 55, and the double bass excerpt <a href="{% static 'website/media/excerpts/String/Bass.pdf' %}">here</a>, bars 252-279. Players will be assessed on rhythmical and musical accuracy over tempo. </p>
<p>Thank you and good luck!</p>

<br/><br/>
<iframe class="audition-iframe" src="https://string-kelvin-ensemble-auditions.youcanbook.me/?noframe=true&skipHeaderFooter=true" onload="keepInView(this);"></iframe>
<!--<script>function keepInView(item) {if((document.documentElement&&document.documentElement.scrollTop)||document.body.scrollTop>item.offsetTop)item.scrollIntoView();}</script>
-->

{% endblock %}
