{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/1.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
String Auditions
{% endblock %}

{% block page-icon %}
<i class="fa fa-music fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
String Auditions
{% endblock %}

{% block content %}

<p>The audition will consist of one prepared piece of your own choice, followed by an excerpt that <!--will be made available closer to the time--> is available below. You chosen piece should be approximately 5 minutes long - the panel may stop you after this time.</p>

<p>Weekend auditions will take place in the University Music Department, 14 University Gardens - just along from the Queen Margaret Union.</p>

<hr class="primary"/>

<p>To book an audition please select a time below and complete the booking process. If you are having any difficulties, please contact <a href="mailto:webmaster&#64;kelvin-ensemble.co.uk">webmaster@kelvin-ensemble.co.uk</a>.

<br/><br/>
<iframe class="audition-iframe" src="https://string-kelvin-ensemble-auditions.youcanbook.me/?noframe=true&skipHeaderFooter=true" onload="keepInView(this);"></iframe>
<script>function keepInView(item) {if((document.documentElement&&document.documentElement.scrollTop)||document.body.scrollTop>item.offsetTop)item.scrollIntoView();}</script>

<p>You can download the violin excerpt <a href="{% static 'website/media/excerpts/violin.pdf' %}">here</a>, the viola excerpt <a href="{% static 'website/media/excerpts/viola.pdf' %}">here</a>, the cello excerpt <a href="{% static 'website/media/excerpts/cello.pdf' %}">here</a>, and the double bass excerpt <a href="{% static 'website/media/excerpts/bass.pdf' %}">here</a>.

<p>Thank you and good luck!</p>

{% endblock %}