
/*NAVBAR */

.nav-item {
  padding: 0 15px;
}

.dropdown-menu {
  background-color: #FFFFFF;
  min-width: 0px;
  width: 100%;
  border-width: 0;
}

.dropdown-item {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  color: #000000;
}

.dropdown-item:hover {
  color: #008888;
  background-color: #FFFFFF;
}

.dropdown-custom {
  position: relative;
}

@media (max-width: 992px) {
  .dropdown-menu {
    background-color: #FFF;
    border: none;
    padding: 0;
  }
  .dropdown-item {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    color:#000000;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
    color: #000000;
  }
  .nav-item {
    text-align: center;
  }
  #mainNav .navbar-brand {
    color: #1a1a1a;
  }
}

/*MAIN*/

.sr-icons {
  padding-bottom: 20px;
}

#footer {
  padding: 60px 0 40px 0;
}

#page-header {
  padding: 110px 0 40px;
}

ul > li {
  list-style-type: none;
}

/* past concerts */

.pctable {
  width: 100%;
}

.pctable tr td {
  width: 50%;
}

.panel {
  margin: 3px;
}

.panel-heading {
  border: #bbbbbb solid 1px;
  border-radius: 2px;
  background-color: #dddddd;
  padding: 2px;
}

.panel-title {
  margin: 8px;
}

.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .padding-bottom-small {
    padding-bottom: 20px;
  }
}


/* Video Iframe */

.video-iframe {
  width: 100%;
  height: 280px;
  padding: 10px;
}
