/*NAVBAR */

@media (min-width: 992px) {
  #mainNav {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #008888;
  }
  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #008888;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #008888;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #008888;
  }
}

#mainNav.navbar-shrink {
  border-bottom: #008888 solid 1px;
}

.nav-item {
  padding: 0 15px;
}

.dropdown-menu {
  background-color: #FFFFFF;
  min-width: 0px;
  width: 100%;
  border-width: 0;
}

.dropdown-item {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  color: #000000;
}

.dropdown-item:hover {
  color: #00AAAA;
  background-color: #FFFFFF;
}

.dropdown-custom {
  position: relative;
}

@media (max-width: 992px) {
  .dropdown-menu {
    background-color: #FFF;
    border: none;
    padding: 0;
  }
  .dropdown-item {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    color: #000000;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #000000;
  }
  .nav-item {
    text-align: center;
  }
  #mainNav .navbar-brand {
    color: #1a1a1a;
  }
}


/* Main */

.sr-icons {
  padding-bottom: 20px;
}

#footer {
  padding: 60px 0 40px 0;
}

#page-header {
  padding: 110px 0 40px;
}

ul>li {
  list-style-type: none;
}

.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.header-icon {
  margin-bottom: 20px;
}

/* past concerts */

.panel {
  margin: 3px;
}

.panel-heading {
  border: #bbbbbb solid 1px;
  border-radius: 2px;
  background-color: #dddddd;
  padding: 2px;
}

.panel-title {
  margin: 8px;
}

@media (max-width: 992px) {
  .padding-bottom-small {
    padding-bottom: 20px;
  }
}


/* Video Iframe */

.video-iframe {
  width: 100%;
  height: 280px;
  padding: 10px;
}

.left_align_text {
  text-align: left;
}

.allow_bullets>ul>li {
  list-style-type: disc;
}


/* Contact Us */

.contact-accordion .panel-title {
  font-size: 18px;
  margin: 5px;
}

.contact-accordion .panel-heading {
  padding: 1px;
}


/* Support Us */

.support-accordion .panel-title {
  font-size: 20px;
  margin: 6px;
}