
{% load static from staticfiles %}

{% block navbar %}

<!-- Footer -->
<section class="bg-primary" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 ml-auto text-center">
        <a class="text-white" href="https://www.facebook.com/kelvinensemble/">
          <i class="fa fa-facebook-square fa-3x sr-contact text-white"></i>
          <p>Kelvin's Facebook Page</p>
        </a>
      </div>
      <div class="col-lg-3 ml-auto text-center">
        <a class="text-white" href="https://twitter.com/kelvinensemble">
          <i class="fa fa-twitter-square fa-3x sr-contact text-white"></i>
          <p>Kelvin's Twitter</p>
        </a>
      </div>
      <div class="col-lg-3 ml-auto text-center">
        <a class="text-white" href="http://www.rsno.org.uk/">
          <img class="sr-contact border-radius-med" src="{% static 'website/media/img/rsno.jpg' %}"/>
          <p>Affiliated with the RSNO</p>
        </a>
      </div>
      <div class="col-lg-3 ml-auto text-center">
        <i class="fa fa-copyright fa-3x sr-contact text-white"></i>
        <p class="text-white">Kelvin Ensemble 2017</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}