
{% load static from staticfiles %}

<!-- Bootstrap core CSS -->
<link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="{% static 'website/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="{% static 'website/vendor/creative/custom-creative.css' %}" rel="stylesheet">

<!-- My Styles -->
<link href="{% static 'website/css/style.css' %}" rel="stylesheet">
<link rel=icon href={% static 'website/media/favicon.png' %} sizes="16x16" type="image/png">

<!-- Links -->
<link rel="image_src" href="{% static 'website/media/img/logo.jpg' %}"/>
<meta property="og:image" content="{% static 'website/media/img/logo.jpg' %}"/>