{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/1.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
Bios
{% endblock %}

{% block page-icon %}
<i class="fa fa-info-circle fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Bios
{% endblock %}

{% block content %}

<p>Photographer: Neil Stuchbury - <a href="www.stuch-photo.com">www.stuch-photo.com</a></p>

<hr class="primary">

<p>Sound Engineer: Lewis Lyall</p>
<p>From the moment he completed his studies at Glasgow's Riverside Music Complex, Lewis had been looking for a good excuse to buy loads of really expensive recording equipment. Thankfully he became involved with the ensemble not long after, and has since been desperately trying to justify his spending by capturing their wonderful perfomances in digital audio form.  Usually found working in the background and pretending to know what's going on, Lewis is living proof that being part of an orchestra does not require any musical talent whatsoever.</p>

<hr class="primary">

<p>Poster Designer: Eve Campbell</p>
<p>You can see some of Eve's work on her Instagram <a href="https://www.instagram.com/evecampbelltextiles/">here</a> or below, and contact her at evecampbell1@hotmail.co.uk:</p>
<iframe width="100%" height="500" src="https://www.instagram.com/evecampbelltextiles/" frameborder="0"/>


{% endblock %}
