{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block title %}
Bios
{% endblock %}

{% block page-icon %}
<i class="fa fa-info-circle fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Bios
{% endblock %}

{% block content %}

<p>Conductor: John Grant - <a href="http://www.grant-music-services.co.uk/">http://www.grant-music-services.co.uk/</a></p>

<p>Photographer: Neil Stuchbury - <a href="www.stuch-photo.com">www.stuch-photo.com</a></p>

<p>Poster Designer: Eve Campbell</p>

<p>Sound Engineer: Lewis Lyall</p>

{% endblock %}