{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
    #page-header {
        background-image: url("{% static 'website/media/img/headers/about/committee.jpg' %}");
    }
</style>
{% endblock %}

{% block title %}
Committee
{% endblock %}

{% block page-icon %}
<i class="fa fa-users fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Kelvin Committee 2020-2021
{% endblock %}

{% block content %}


<div class="containter committee-images">
    
    <div class="row">
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Shona Rae</p>
                <p class="title">Chairperson</p>
            </div>
            <img src="{% static 'website/media/img/committee/chairperson.jpg' %}" alt="Chairperson"/>
            <!-- <p>chairperson&#64;kelvin-ensemble.co.uk</p> -->
        </div>

        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Kajal Dodhia</p>
                <p class="title">Secretary</p>
            </div> 
            <img src="{% static 'website/media/img/committee/secretary.jpg' %}" alt="Secretary"/>
            <!-- <p>secretary&#64;kelvin-ensemble.co.uk</p> -->
        </div>

        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Elise Blackmore</p>
                <p class="title">Treasurer</p>
            </div>
            <img src="{% static 'website/media/img/committee/treasurer.jpg' %}" alt="Treasurer"/>
            <!-- <p>treasurer&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div>
    
    <hr class="primary small-padding"/>
    
    <div class="row">
        <!--<div class="col-md-4">
            <div class="overlay">
                <p class="name">Kester Clark</p>
                <p class="title">Concert Manager</p>
            </div>   
            <img src="{% static 'website/media/img/committee/first-year-rep.jpg' %}" alt="Concert Manager"/>
            <!-- <p>concertorganiser&#64;kelvin-ensemble.co.uk</p>
        </div>-->

        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Jack Lamb</p>
                <p class="title">String Manager</p>
            </div>
            <img src="{% static 'website/media/img/committee/strings1.jpg' %}" alt="String Manager"/>
            <!-- <p>stringmanager&#64;kelvin-ensemble.co.uk</p> -->
        </div>

        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Ciara Gaffney</p>
                <p class="title">String Manager</p>
            </div>  
            <img src="{% static 'website/media/img/committee/strings2.jpg' %}" alt="String Manager"/>
            <!-- <p>stringmanager&#64;kelvin-ensemble.co.uk</p> -->
        </div>
         
    </div>
    
    <hr class="primary small-padding"/>

    <div class="row">
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">David Ford</p>
                <p class="title">BWP Manager</p> 
            </div>
            <img src="{% static 'website/media/img/committee/bwp1.jpg' %}" alt="BWP  Manager"/>
            <!-- <p>bwp&#64;kelvin-ensemble.co.uk</p> -->
        </div>

        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Lea Kupcova</p>
                <p class="title">BWP Manager</p> 
            </div> 
            <img src="{% static 'website/media/img/committee/bwp2.jpg' %}" alt="BWP  Manager"/>
            <!-- <p>bwp&#64;kelvin-ensemble.co.uk</p> -->
        </div>

        <div class="col-md-4">
            <div class="overlay">
                <p class="name"> Sarah Lindsay </p>
                <p class="title">Fundraiser</p>
            </div>  
            <img src="{% static 'website/media/img/committee/fundraiser.jpg' %}" alt="Fundraiser"/>
            <!-- <p>ordinarymembers&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div>

    <hr class="primary small-padding"/>
    
    <div class="row">
        
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Adam Vallance</p>
                <p class="title"> Social Manager </p>
            </div>
            <img src="{% static 'website/media/img/committee/social1.jpg' %}" alt="Social Manager"/>
            <!-- <p>socialmanager&#64;kelvin-ensemble.co.uk</p> -->
        </div>

        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Laura Docherty</p>
                <p class="title"> Social Manager </p>
            </div>
            <img src="{% static 'website/media/img/committee/social2.jpg' %}" alt="Social Manager"/>
            <!-- <p>socialmanager&#64;kelvin-ensemble.co.uk</p> -->
        </div>

        <div class="col-md-4">
            <div class="overlay">
                <p class="name"> Nick Baughan </p>
                <p class="title">Publicity and Webmaster</p>
            </div>
            <img src="{% static 'website/media/img/committee/publicity.HEIC' %}" alt="Publicity"/>
            <!-- <p>webmaster&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div>

    <hr class="primary small-padding"/>
    
    <div class="row">
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Adam Salisbury</p>
                <p class="title">Librarian</p>
            </div> 
            <img src="{% static 'website/media/img/committee/librarian.jpg' %}" alt="Librarian"/>
            <!-- <p>fundraiser&#64;kelvin-ensemble.co.uk</p> -->
        </div>

        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Douglas Scott</p>
                <p class="title">Internal Comms</p>
            </div>
            <img src="{% static 'website/media/img/committee/internalcomms.jpg' %}" alt="Internal Comms"/>
            <!-- <p>ordinarymembers&#64;kelvin-ensemble.co.uk</p> -->
        </div>

        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Thomas Wilkinson</p>
                <p class="title">Ordinary Member</p>
            </div> 
            <img src="{% static 'website/media/img/committee/om1.jpg' %}" alt="Ordinary Member"/>
            <!-- <p>ordinarymembers&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div>
    
    <hr class="primary small-padding"/>
    
    <div class="row">

        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Aine Doherty</p>
                <p class="title">Ordinary Member</p>
            </div> 
            <img src="{% static 'website/media/img/committee/om2.jpg' %}" alt="Ordinary Member"/>
            <!-- <p>ordinarymembers&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div> 
</div>

{% endblock %}