{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/10.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
Committee
{% endblock %}

{% block page-icon %}
<i class="fa fa-users fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Kelvin Committee 2017-2018
{% endblock %}

{% block content %}

Some details about the current Kelvin Committee are below (more coming soon!):

<div class="panel-group contact-accordion" id="accordion" role="tablist" aria-multiselectable="true">
    
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Chairperson - Samantha Julia Greenwood
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div>chairperson&#64;kelvin-ensemble.co.uk</div>
        <div class="committee-images">
          <img src="{% static 'website/media/img/committee/chairperson.jpg' %}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Secretary - Murdo Douglas
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div>secretary&#64;kelvin-ensemble.co.uk</div>
        <div class="committee-images">
          <img src="{% static 'website/media/img/committee/secretary.jpg' %}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Treasurer - Arianna Clark
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div>treasurer&#64;kelvin-ensemble.co.uk</div>
        <div class="committee-images">
          <img src="{% static 'website/media/img/committee/treasurer.jpg' %}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Concert Manager - Marie Driver
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <div>concertorganiser&#64;kelvin-ensemble.co.uk</div>
        <div class="committee-images">
          <img src="{% static 'website/media/img/committee/concert.jpg' %}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Brass, Wind and Percussion Manager - Amy Fraser
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <div>bwp&#64;kelvin-ensemble.co.uk</div>
        <div class="committee-images">
          <img src="{% static 'website/media/img/committee/bwp.jpg' %}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          String Managers - Lina-Lotta Kauhanen and Ingrid Bols
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        <div>stringmanager&#64;kelvin-ensemble.co.uk</div>
        <div class="row">
          <div class="col-md-6">
            <div class="committee-images">
              <img src="{% static 'website/media/img/committee/strings1.jpg' %}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="committee-images">
              <img src="{% static 'website/media/img/committee/strings2.jpg' %}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Librarian - Jack Findlay
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        <div>librarian&#64;kelvin-ensemble.co.uk</div>
        <div class="committee-images">
          <img src="{% static 'website/media/img/committee/librarian.jpg' %}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Social Managers - Barney Edmonds and Jamie Munro
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        <div>socialmanager&#64;kelvin-ensemble.co.uk</div>
        <div class="row">
          <div class="col-md-6">
            <div class="committee-images">
              <img src="{% static 'website/media/img/committee/social1.jpg' %}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="committee-images">
              <img src="{% static 'website/media/img/committee/social2.jpg' %}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Publicist - Imogen Leadbetter
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
        <div>publicity&#64;kelvin-ensemble.co.uk</div>
        <div class="committee-images">
          <img src="{% static 'website/media/img/committee/publicity.jpg' %}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          Fundraising Coordinators - Sagnick Mukherjee
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">
        <div>fundraising&#64;kelvin-ensemble.co.uk</div>
        <div class="committee-images">
          <img src="{% static 'website/media/img/committee/fundraising.jpg' %}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Webmaster - Leah Spiedel Johnson
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body">
        <div>webmaster&#64;kelvin-ensemble.co.uk</div>
        <div class="committee-images">
          <img src="{% static 'website/media/img/committee/webmaster.jpg' %}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwelve">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          Ordinary Member - Matthew Kennedy, Sam Maya, Malcolm Davers Millar, Priannah Kajol Patel
        </a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
      <div class="panel-body">
        <div>om&#64;kelvin-ensemble.co.uk</div>
        <div class="row">
          <div class="col-md-6">
            <div class="committee-images">
              <img src="{% static 'website/media/img/committee/om2.jpg' %}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="committee-images">
              <img src="{% static 'website/media/img/committee/om4.jpg' %}"/>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-6">
            <div class="committee-images">
              <img src="{% static 'website/media/img/committee/om3.jpg' %}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="committee-images">
              <img src="{% static 'website/media/img/committee/om1.jpg' %}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}






