{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
    #page-header {
        background-image: url("{% static 'website/media/img/headers/about/committee.jpg' %}");
    }
</style>
{% endblock %}

{% block title %}
Committee
{% endblock %}

{% block page-icon %}
<i class="fa fa-users fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Kelvin Committee 2019-2020
{% endblock %}

{% block content %}


<div class="containter committee-images">
    
    <div class="row">
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Adam Vallance</p>
                <p class="title">Chairperson</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/chairperson.jpg' %}" alt="Chairperson"/>
            <!-- <p>chairperson&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Samantha Greenwood</p>
                <p class="title">Secretary</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/secretary.jpg' %}" alt="Secretary"/>
            <!-- <p>secretary&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Tom&#225&#353 Mar&#357&#225k </p>
                <p class="title">Treasurer</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/treasurer.jpg' %}" alt="Treasurer"/>
            <!-- <p>treasurer&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div>
    
    <hr class="primary small-padding"/>
    
    <div class="row">
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Jordan Saavalainen</p>
                <p class="title">String Manager</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/strings1.jpg' %}" alt="String  Manager"/>
            <!-- <p>stringmanager&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Eleanor Hayes </p>
                <p class="title">String Manager</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/strings2.jpg' %}" alt="String  Manager"/>
            <!-- <p>stringmanager&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Eve Flett </p>
                <p class="title">BWP Manager</p> 
            </div>
                
            <img src="{% static 'website/media/img/committee/bwp.jpg' %}" alt="BWP  Manager"/>
            <!-- <p>bwp&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div>
    
    <hr class="primary small-padding"/>
    
    <div class="row">
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Neil Jeacock </p>
                <p class="title">Concert Manager</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/concert.jpg' %}" alt="Concert Manager"/>
            <!-- <p>concertorganiser&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-4">
            <div class="overlay">
                <p class="name"></p>
                <p class="title">Librarian</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/librarian.jpg' %}" alt="Librarian"/>
            <!-- <p>librarian&#64;kelvin-ensemble.co.uk</p> -->
            <!-- <p>internalcomms&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Abbie Houston</p>
                <p class="title">Publicity</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/publicity.jpg' %}" alt="Publicity"/>
            <!-- <p>publicity&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div>
    <hr class="primary small-padding"/>
    
    <div class="row">
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Sophie Chisholm </p>
                <p class="title"> Social Manager </p>
            </div>
                
            <img src="{% static 'website/media/img/committee/social.jpg' %}" alt="Social Manager"/>
            <!-- <p>socialmanager&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-4">
            <div class="overlay">
                <p class="name"> Nick Baughan </p>
                <p class="title">Webmaster</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/webmaster.jpg' %}" alt="Webmaster"/>
            <!-- <p>webmaster&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-4">
            <div class="overlay">
                <p class="name">Erin Andrews</p>
                <p class="title">Tour Manager</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/tour.jpg' %}" alt="Tour Manager"/>
            <!-- <p>tourmanager&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div>
    
    <hr class="primary small-padding"/>
    
    <div class="row">
        <div class="col-md-4">
            <div class="overlay">
                <p class="name"> Laura Docherty </p>
                <p class="title">Ordinary Member</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/om1.jpg' %}" alt="Ordinary Member"/>
            <!-- <p>ordinarymembers&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-4">
            <div class="overlay">
                <p class="name"> Mayah Lewis </p>
                <p class="title">Ordinary Member</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/om2.jpg' %}" alt="Ordinary Member"/>
            <!-- <p>ordinarymembers&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-4">
            <div class="overlay">
                <p class="name"> Shona Rae </p>
                <p class="title">Ordinary Member</p>
            </div>
                
            <img src="{% static 'website/media/img/committee/om3.jpg' %}" alt="Ordinary Member"/>
            <!-- <p>ordinarymembers&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div>
    
    
    <hr class="primary small-padding"/>
    
    <div class="row">
        <div class="col-md-6">
            <div class="overlay">
                <p class="name">Mark Harley</p>
                <p class="title">Fundraiser</p> 
            </div>                
            <img src="{% static 'website/media/img/committee/fundraiser.jpg' %}" alt="Fundraiser"/>
            <!-- <p>fundraiser&#64;kelvin-ensemble.co.uk</p> -->
        </div>
        <div class="col-md-6">
            <div class="overlay">
                <p class="name"> Paolo Lemmings</p>
                <p class="title">First Year Rep</p> 
            </div>
                
            <img src="{% static 'website/media/img/committee/fyrep.jpg' %}" alt="First Year Rep"/>
            <!-- <p>representative&#64;kelvin-ensemble.co.uk</p> -->
        </div>
    </div>
    
</div>

{% endblock %}