{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
    #page-header {
        background-image: url("{% static 'website/media/img/headers/conductor1.jpg' %}");
        background-position-y: -175px;
    }
</style>
{% endblock %}

{% block title %}
Conductor
{% endblock %}

{% block page-icon %}
<i class="fa fa-info-circle fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
John Grant
{% endblock %}

{% block content %}

<p>John Grant is an esteemed conductor and musical educator who, after studying with renowned names such as Maestri Jorma Panula and Benjamin Zander, has dedicated his career to conducting and working with young people.</p>
<p>He has worked with such organisations as the Strathclyde University Symphony Orchestra, the West of Scotland Schools Symphony Orchestra as well as being one of the founding members of the National Youth Orchestra of Scotland. </p>
<p>He began his musical studies in 1977 at the Royal Conservatoire of Scotland, winning the Governor’s recital prize in flute and the chamber music prize. As a freelance musician John has performed with such orchestras as the BBC Scottish Symphony Orchestra, Scottish Opera and from 1987 to 2000 held the position of principal flute with the Royal Scottish National Orchestra as well as guest principal positions with the London Symphony Orchestra and the BBC National Orchestra of Wales. He has made many solo appearances, performing concertos by Bach, Mozart, Nielsen and Ibert and during which time he held a teaching position at the Royal Conservatoire of Scotland. </p>
<p>Kelvin Ensemble have thoroughly enjoyed learning and working with John.</p>

<p><a href="http://www.grant-music-services.co.uk/">http://www.grant-music-services.co.uk/</a></p>

{% endblock %}
