{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'website/vendor/bootstrap-gallery-fluid/baguetteBox.min.css' %}">
<link rel="stylesheet" href="{% static 'website/vendor/bootstrap-gallery-fluid/fluid-gallery.css' %}">

<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/1.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
Gallery
{% endblock %}

{% block page-icon %}
<i class="fa fa-picture-o fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Gallery
{% endblock %}

{% block content %}

<h4>Photos by <a href="https://www.stuch-photo.com">Neil Stuchbury</a></h4>

<div class="container gallery-container">

  <div class="tz-gallery">
    <div class="row">

      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="{% static 'website/media/img/gallery/1.jpg' %}">
          <img src="{% static 'website/media/img/gallery/1.jpg' %}" alt="Sticks">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'website/media/img/gallery/1.jpg' %}">
          <img src="{% static 'website/media/img/gallery/1.jpg' %}" alt="Sticks">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'website/media/img/gallery/1.jpg' %}">
          <img src="{% static 'website/media/img/gallery/1.jpg' %}" alt="Sticks">
        </a>
      </div>

      <div class="col-sm-12 col-md-6">
        <a class="lightbox" href="{% static 'website/media/img/gallery/1.jpg' %}">
          <img src="{% static 'website/media/img/gallery/1.jpg' %}" alt="Sticks">
        </a>
      </div>

      <div class="col-sm-12 col-md-6">
        <a class="lightbox" href="{% static 'website/media/img/gallery/1.jpg' %}">
          <img src="{% static 'website/media/img/gallery/1.jpg' %}" alt="Sticks">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'website/media/img/gallery/1.jpg' %}">
          <img src="{% static 'website/media/img/gallery/1.jpg' %}" alt="Sticks">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'website/media/img/gallery/1.jpg' %}">
          <img src="{% static 'website/media/img/gallery/1.jpg' %}" alt="Sticks">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'website/media/img/gallery/1.jpg' %}">
          <img src="{% static 'website/media/img/gallery/1.jpg' %}" alt="Sticks">
        </a>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'website/vendor/bootstrap-gallery-fluid/baguetteBox.min.js' %}"></script>
<script>
  baguetteBox.run('.tz-gallery');
</script>
{% endblock %}