{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block title %}
Gallery
{% endblock %}

{% block header %}
Gallery
{% endblock %}

{% block content %}

<p>Our Spring 2014 concert can be viewed in HD in 3 parts: <br/><br/>
  <ul><iframe width="1024" height="580" src="//www.youtube.com/embed/OL3V2dytb4Y" frameborder="0" allowfullscreen></iframe></ul><br/>
  <ul><iframe width="1024" height="580" src="//www.youtube.com/embed/axxSrfTrCCg" frameborder="0" allowfullscreen></iframe></ul><br/>
  <ul><iframe width="1024" height="580" src="//www.youtube.com/embed/_tSONSNQvDU" frameborder="0" allowfullscreen></iframe></ul><br/>
</p>
    
{% endblock %}