{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/about/past-concerts.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
Past Concerts
{% endblock %}

{% block page-icon %}
<i class="fa fa-history fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Past Concerts
{% endblock %}

{% block content %}

<h4>Browse through Kelvin's Past Concerts:</h4>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          2019-2016
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Summer 2019</div>
            <div class="text-underline">Conductor: John Grant</div>
                Elgar - Cockaigne (In London Town)<br/>
                Butterworth - A Shropshire Lad<br/>
                Vaughan Williams - A London Symphony</br>
            </div>
          <div class="col-lg-6"></div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2018</div>
            <div class="text-underline">Conductor: John Grant</div>
                Shostakovich - Festive Overture<br/>
                Grieg - Peer Gynt Suite<br/>
                Brahms - Symphony No.2</br>
            </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Summer 2018 Tour</div>
            Kelvin Chamber Orchestra<br/>
            <div class="text-underline">Conductor: John Grant</div>
            Mendelssohn - 'Italian' Symphony No.4<br/>
            Haydn - 'Clock' Symphony No.101<br/>
            Wagner - Siegfried Idyll<br/>
            <br/><hr>
            <div class="text-bold">Spring 2018</div>
            <div class="text-underline">Conductor: John Grant</div>
            Khachaturian - Adagio from Spartacus <br/>
            Saint-Sa&#235;ns - Piano Concerto No.2<br/>
            Rachmaninov - Symphonic Dances<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2017</div>
            <div class="text-underline">Conductor: John Grant</div>
                Faur&#233; - Dolly Suite<br/>
                Howells - Penguinski<br/>
                Sibelius - Karelia Suite</br>
                Dvorak - Symphony No.7</br>
            </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Summer 2017 Tour</div>
            Kelvin Chamber Orchestra<br/>
            <div class="text-underline">Conductor: John Grant</div>
            Mendelssohn - Hebrides Overture<br/>
            Schubert - Symphony No.8<br/>
            Rossini - Barber of Seville Overture<br/>
            Beethoven - Symphony No.6<br/>
            <br/><hr>
            <div class="text-bold">Spring 2017</div>
            <div class="text-underline">Conductor: John Grant</div>
            Glazunov – Symphony No. 5<br/>
            Tchaikovsky – Swan Lake<br/>
            Tchaikovsky – 1812 Overture<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2016</div>
            <div class="text-underline">Conductor: John Grant</div>
            Danzon No. 2 - Marquez<br/>
            Escapades - John Williams<br/>
            Excerpts from Romeo &amp; Juliet - Prokofiev<br/>
            Music from 'Up' - Giacchino<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2016</div>
            <div class="text-underline">Conductor: Chris Gray</div>
            44th Symphony - Haydn<br/>
            Romeo &amp; Juliet Fantasy Overture - Tchaikovsky<br/>
            West Side Story Symphonic Dances - Bernstein<br/>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2015-2011
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2015</div>
            <div class="text-underline">Conductor: Chris Gray</div>
            Bedřich Smetana - Má Vlast<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2015</div>
            <div class="text-underline">Conductor: Chris Gray</div>
            Gershwin - Girl Crazy<br/>
            Gershwin - Rhapsody in Blue (soloist: Nick Lauener)<br/>
            Shostakovich - Suite for Variety Orchestra<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2014</div>
            <div class="text-underline">Conductor: Chris Gray</div>
            Puccini - Preludio Sinfonico<br/>
            Grieg - Norwegian Dances<br/>
            Borodin - Symphony 2<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>
        
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2014</div>
            <div class="text-underline">Conductor: Chris Swaffer</div>
            Suppe - Light Cavalry Overture<br/>
            Saint-Sa&#235;ns - Piano concerto No.2<br/>
            Tchaikovsky - Symphony No. 2<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2013</div>
            <div class="text-underline">Conductor: Kevin Price</div>
            Johannes Brahms - Academic Festival Overture<br/>
            Richard Wagner - Wesendonck Lieder (soloist: Jemma Brown)<br/>
            Anton&#237;n Dvor&#225;k - New World Symphony<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2013</div>
            <div class="text-underline">Conductor: Chris Swaffer</div>
            Copland - Our Town<br/>
            Dvor&#225;k - American Suite (Op.98b)<br/>
            Charles Ives - Symphony No. 2<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2012</div>
            <div class="text-underline">Conductor: Oliver Rundell</div>
            Vaughan Williams - The Wasps<br/>
            Elgar - Cello Concerto in E Minor (soloist: David Sloan)<br/>
            Brahms - Symphony No. 2 in D Major<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>
        
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2012</div>
            <div class="text-underline">Conductor: Chris Swaffer</div>
            Sibelius - Finlandia<br/>
            Nielsen - Seven Dances from Aladdin<br/>
            Sibelius - Symphony No.2<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2011</div>
            <div class="text-underline">Conductor: Oliver Rundell</div>
            MacCunn - Land of the Mountain and the Flood<br/>
            Mendelssohn - Hebrides Overture, ("Fingals Cave")<br/>
            Arnold - Tam O'Shanter Overture<br/>
            Mendelssohn - Symphony No.3, ("The Scottish Symphony")<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>
        
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2011</div>
            <div class="text-underline">Conductor: Chris Swaffer</div>
            Stravinsky - Greeting Prelude<br/>
            Tchaikovsky - Violin Concerto (Soloist: Tamas Fejes)<br/>
            Holst - The Planets Suite (Guest group: The Madrigirls)<br/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          2010-2006
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2010</div>
            <div class="text-underline">Conductor: Tommy Fowler</div>
            Humperdinck - Prelude from "Hansel and Gretel"<br/>
            Saint-Saens - Danse Macabre<br/>
            Ravel - Mother Goose<br/>
            Prokofiev - "Troika" from "Lieutenant Kije"<br/>
            Delius - Sleigh Ride<br/>
            Tchaikovsky - The Nutcracker Suite<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2010</div>
            <div class="text-underline">Conductor: Chris Swaffer</div>
            Pre-concert talk by Howard Blake with a first performance of "Speiltrieb", performed by the Edinburgh Quartet<br/>
            John Adams - Lollapalooza<br/>
            Howard Blake - Diversions: Concerto for Marimba and Orchestra (Soloist:Heather Corbett)<br/>
            Prokofiev - Symphony No.5<br/>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2009</div>
            <div class="text-underline">Conductor: Gareth John</div>
            Shostakovich - Festive Overture<br/>
            Borodin - Polovtsian Dances<br/>
            Borodin - Steppes in Central Asia<br/>
            Mussorgsky (orch. Ravel) - Pictures at an Exhibition<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>
        
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2009</div>
            <div class="text-underline">Conductor: Justin Fung</div>
            Mark Davis - Beginnings<br/>
            Prokofiev - Romeo and Juliet Suite<br/>
            Tchaikovsky - Symphony No.4<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2008</div>
            <br/>
            <div class="text-underline">Conductor: Chris Swaffer</div>
            Bernstein - Symphonic Dances from West Side Story<br/>
            Shore - Lord of the Rings<br/>
            Blake - The Snowman (with Juliet Cadzow)<br/>
            Williams - ET Main Theme<br/>
            Williams - Jurassic Park<br/>
            Williams - Harry Potter<br/>
            orch. Willcocks - Five Christmas Carols<br/>
            Anderson - Sleigh Ride<br/>
            <br/><hr>
            <div class="text-underline">Conductor: Gareth John</div>
            Copland - Fanfare for the Common Man<br/>
            Copland - Hoe Down from Rodeo<br/>
            Gershwin - Rhapsody in Blue (soloist Jennifer MacRitchie<br/>
            Dvorak - New World Symphony<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2008</div>
            <div class="text-underline">Conductor: Kenneth Woods</div>
            Wagner - Overture to Rienzi<br/>
            Bloch - Schelmo (soloist Barbara Misiewicz)<br/>
            Sibelius - Symphony No.2<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2007</div>
            <br/>
            Glasgow University Choral Society Concert<br/>
            <div class="text-underline">Conductor: Marjory Rycroft</div>
            Haydn - The Creation<br/>
            <br/><hr>
            <div class="text-underline">Conductor: Gareth John</div>
            Elgar - Introduction and Allegro for String Quartet and String Orchestra<br/>
            Strauss - Suite for 13 Winds in B flat major<br/>
            Vaughan Williams - Fantasia on a theme by Thomas Tallis<br/>
            Haydn - Symphony No.104 in D Major<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2007</div>
            <br/>
            Thomas Coates Memorial Concert<br/>
            <div class="text-underline">Conductor: Gordon Munro</div>
            Sibelius - Finlandia<br/>
            Sibelius - The Captive Queen<br/>
            Elgar - Te Deum &amp; Benedictus<br/>
            Schubert - Mass No.5 in Ab<br/>
            <br/><hr>
            Concert with Edinburgh University Chamber Orchestra
            <div class="text-underline">Conductor: William Conway</div>
            Martin Suckling - Mosaic<br/>
            Elgar - Sea Pictures (soloist: Susan Boyd)<br/>
            Stravinsky - The Rite of Spring<br/>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2006</div>
            <div class="text-underline">Conductor: Kenneth Woods</div>
            Tommy Fowler - 15th Anniversary Commission<br/>
            Walton - Viola Concerto (soloist: Veronika Toth)<br/>
            Dvorak - Symphony No. 8<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2006</div>
            <br/>
            Thomas Coates Memorial Concert<br/>
            <div class="text-underline">Conductor: Myra Soutar</div>
            Verdi - Stabat Mater (from "Four Sacred Pieces")<br/>
            Brahms - A German Requiem<br/>
            <br/><hr>
            Mozart 250th Anniversary Concert<br/>
            <div class="text-underline">Conductor: Marjory Rycroft</div>
            Mozart - Church Sonata No.12 in C<br/>
            Mozart - Church Sonata No.14 in C<br/>
            Mozart - Mass in C minor<br/>
            <br/><hr>
            <div class="text-underline">Conductor: John Moore</div>
            Beethoven - Egmont Overture<br/>
            Grieg - Piano Concerto in A minor (piano: Jennifer MacRitchie)<br/>
            Tchaikovsky - Symphony No.5 in E minor<br/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          2005-2001
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2005</div>
            <div class="text-underline">Conductor: James Grossmith</div>
            Dohnanyi - Szeged Mass (Scottish Premiere)<br/>
            Vaughan Williams - Job, A Masque for Dancing<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>
       
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2005</div>
            <br/>
            Thomas Coates Memorial Concert<br/>
            <div class="text-underline">Conductor: Myra Soutar</div>
            Dvorak - Te Deum<br/>
            Jean Sharrock - Gloria<br/>
            Mozart - Requiem<br/>
            <br/><hr>
            Glasgow University Music Club 50th Anniversary<br/>
            <div class="text-underline">Conductor: Marjory Rycroft</div>
            Haydn - Symphony No.100 "Military"<br/>
            <br/><hr>
            Concert with Edinburgh University Chamber Orchestra<br/>
            <div class="text-underline">Conductor: William Conway</div>
            Stravinsky - Symphonies of Winds<br/>
            Glasunov - Saxophone Concerto (saxophone - Andrew Somerville<br/>
            Berlioz - Symphonie Fantastique<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2004</div>
            <div class="text-underline">Conductor: Bashar Lulua</div>
            Matthew Taylor - The Needles Overture (Scottish Premiere)<br/>
            Mozart - Sinfonia Concertante in E flat for Violin and Viola (Violin - Feargus Hetherington, Viola - Alexa Beattie<br/>
            Brahms - Symphony No.2<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2004</div>
            <br/>
            Thomas Coates Memorial Concert<br/>
            <div class="text-underline">Conductor: Myra Soutar</div>
            Haydn - 'Spring' from The Seasons<br/>
            Schubert - Mass No.1 in F major<br/>
            Faure - Requiem (movements IV-VII)<br/>
            <br/><hr>
            <div class="text-underline">Conductor: Mark Evans</div>
            Smetana - Vltava<br/>
            Ibert - Flute Concerto (soloist: Emma Wilkins)<br/>
            Ciurlionis - In The Forest (Scottish Premiere)<br/>
            Bizet - Selection of Movements from L'Arlesienne Suites 1&amp;2<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2003</div>
            <div class="text-underline">Conductor: Marco Romano</div>
            Beethoven - Coriolan Overture<br/>
            Mozart - Piano Concerto no.21 in C (soloist Natalia Ossentchakova)<br/>
            Delius - On Hearing the First Cuckoo in Spring, Summer Night on the River<br/>
            Beethoven - Symphony No.8<br/>
            <br/><hr>
            <div class="text-underline">Conductor: Mark Evans</div>
            Arvo Part – Silouans Song<br/>
            Stravinsky – Pulcinella Suite<br/>
            Shostakovich  - Chamber Symphony (op.110a arr. Rudolf Barshai [‘79])<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2003</div>
            <br/>
            Thomas Coates Memorial Concert<br/>
            <div class="text-underline">Conductor: Myra Soutar</div>
            Mozart - Mass in C Minor<br/>
            Shostakovich - Festival Overture<br/>
            Walton - Coronation Te Deum (Organ and Choir only)<br/>
            Vaughan Williams - Towards the Unknown Region<br/>
            <br/><hr>
            Concert with Edinburgh University Chamber Orchestra<br/>
            <div class="text-underline">Conductor: William Conway</div>
            Reich - Variations for Strings, Winds and Keyboards<br/>
            Tchaikovsky - Violin Concerto (soloist - Feargus Hetherington)<br/>
            Mussorgsky (orch. Ravel) - Pictures at an Exhibition<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2002</div>
            <br/>
            Concert with the Glasgow University Choral Society<br/>
            <div class="text-underline">Conductor: Giles Brightwell</div>
            Handel - Messiah<br/>
            <br/><hr>
            <div class="text-underline">Conductor: Stephen Broad</div>
            McGuire - The Caledonian Muse: A Symphonic Rhapsody<br/>
            MacCunn - Land of the Mountain and the Flood<br/>
            Mendelssohn - Symphony No.3<br/>
            <br/><hr>
            Concert with Edinburgh University Chamber Orchestra<br/>
            <div class="text-underline">Conductor: Robert Dick</div>
            Mozart - Marraige of Figaro Overture<br/>
            Weber - Clarinet Concerto No.2<br/>
            Schubert - Symphony No.4</div>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2002</div>
            <br/>
            Thomas Coates Memorial Concert<br/>
            <div class="text-underline">Conductor: Myra Soutar</div>
            Tippett - Spirituals from Child of our Time<br/>
            Rossini - Stabat Mater<br/>
            Saint-Saens - Finale of Symphony No.3 "Organ"<br/>
            <br/><hr>
            Conductor: Will Conway<br/>
            <div class="text-underline">Piano: Simon Smith</div>
            Kodaly - Dances of Galanta<br/>
            MacMillan - "... in angustiis I" (world premier)<br/>
            MacMillan - Cumnock Fair<br/>
            Beethoven - Symphony No.5<br/>
            <br/><hr>
            <div class="text-underline">Conductor: Stephen Broad</div>
            Petr Eben - Two Invocations for Trombone and Organ (Trombone: Gavin Bryce, Organ: Jonathan Salmond)<br/>
            Giles Swayne - Symphony for Small Orchestra<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2001</div>
            <div class="text-underline">Conductor: Giles Brightwell</div>
            Beethoven - Egmont Oveture<br/>
            Copland - Clarinet Concerto<br/>
            Mozart - Requiem<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2001</div>
            <br/>
            Thomas Coates Memorial Concert<br/>
            <div class="text-underline">Conductor: Myra Soutar</div>
            Verdi - Reqiuem<br/>
            <br/><hr>
            <div class="text-underline">Conductor: William Conway</div>
            Debussy - La Mer<br/>
            Shostakovich - Symphony No.5<br/>
          </div>
        </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          2000-1996
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 2000</div>
            <div class="text-underline">Conductor: Michael Spencer</div>
            Steve Arkell - Choreia<br/>
            Mac Yeats - The Anatomy of Air<br/>
            Schumann - Symphony No.3<br/>
            <br/><hr>
            <div class="text-underline">Conductor: Julian Clayton</div>
            Eric Chisolm – Piobaireachd Concerto<br/>
            Brahms – Symphony No. 2<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 2000</div>
            <div class="text-underline">Conductor: Peter Jones</div>
            Mendelssohn - Hebrides Overture<br/>
            Haydn - Horn Concerto No.1 (soloist: Fergust Kerr)<br/>
            Larsson - Pastoral Suite<br/>
            Beethoven - Symphony No.3<br/></div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 1999</div>
            Conductor: Garry Walker<br/>
            <div class="text-underline">Saxophone: Brian Molley</div>
            Stravinsky - Orpheus<br/>
            Michael Spencer - Las Redes de Piedra<br/>
            Mozart - Symphony No.39<br/>
            <br/><hr>
            Conductor: Susan Dingle<br/>
            <div class="text-underline">Soloist: Nicola Boag</div>
            Beethoven – Overture, Corolian Suite<br/>
            Dvorak – Romance for Violin<br/>
            Stravinsky – Suites for small Orchestra<br/>
            Holloway – Senerade in G<br/>
            Mozart – Symphony No. 29 in A Major K.201<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 1999</div>
            <div class="text-underline">Conductor: William Conway</div>
            Rachmaninov – Symphony No. 2<br/>
            Macmillan – Confessions of Isobel Goudie<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 1998</div>
            Conductor: David McDonald<br/>
            <div class="text-underline">Saxophone: Sophie Askew</div>
            Bach – Suite (overture) No. 4 in D<br/>
            Alwyn – Lyra Angelica Concerto for Harp and Strings<br/>
            Mozart – Divertimento in Eb K.166<br/>
            Tchaikovsky – Orchestral Suite No. 4 ‘Mozartina’<br/>
            <br/><hr>
            <div class="text-underline">Conductor: Gary Walker</div>
            Schubert – Symphony 5 in Bb<br/>
            Beethoven – Symphony 7 in A<br/>
            Schnittke – Mozart à la Haydn<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Summer 1998</div>
            Conductor: Julian Clayton<br/>
            <div class="text-underline">Soloist: Murray McLachlan</div>
            Callum Kenmuir Concerto for Piano and Orchestra<br/>
            Rhapsody on Themes of Grieg<br/>
            <br/><hr>
            <div class="text-bold">Spring 1998</div>
            Conductor: William Conway<br/>
            <div class="text-underline">Soloist: Mhairi Milne</div>
            Milhaud – ‘Le Boeuf sur le Toit’<br/>
            Lutoslawski – Danse Preludes<br/>
            Debussy – Premier Rhapsody<br/>
            Brahms – Symphony 1<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 1997</div>
            <div class="text-underline">Conductor: William Conway</div>
            Schnittke – Mozart à la Haydn<br/>
            Stravinsky – Concerto in Eb<br/>
            Strauss – Senerade in Eb<br/>
            <br/><hr>
            <div class="text-underline">Conductor: Gary Walker</div>
            Hallgrimsson Halfidi – Daydreams in Numbers (6 mvmts from Volumes 1 and 2)<br/>
            Harper – Chanson Minimale<br/>
            Schubert – unknown<br/>
            Haydn - unknown<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 1997</div>
            Conductor: William Conway<br/>
            <div class="text-underline">Soloist: Donald Gillen</div>
            Mahler – Symphony 5<br/>
            Beethoven – Symphony 5<br/>
            Saint-Seans – First Cello Concerto<br/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 1996</div>
            <div class="text-underline">Conductor: Nigel Boddice</div>
            Debussy – Prelude à l’après-midi d’un faune<br/>
            Thomas Wilson – Pas de Quoi<br/>
            Beethoven – Symphony 5 in C Minor<br/>
            Britten – Peter and the Wolf. Narrated by either Richard Wilson/Ian Ainsworth<br/>
            <br/><hr>
            <div class="text-underline">Conductor: Nigel Boddice</div>
            Grieg – Halberg Suite<br/>
            Elgar – Senerade for Strings<br/>
            Britten – Simple Symphony<br/>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 1996</div>
            Conductor: William Conway<br/>
            <div class="text-underline">Soloist: Alison Dixon</div>
            Beethoven – Symphony No. 6<br/>
            Sibelius – Violin Concerto<br/>
          </div>
        </div>       
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          1995-1991
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 1995</div>
            Conductor: Nigel Boddice<br/>
            <div class="text-underline">Soloist: Angela Whelan</div>
            Faure - Masques et Bergamesques<br/>
            McGuire - Symphonies of Trains<br/>
            Haydn - Trumpet Concerto in Eb<br/>
            Mendelssohn - Symphony No.4 "Italian"<br/>
          </div>
          <div class="col-lg-6"></div>
        </div> 
        
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 1995</div>
            <div class="text-underline">Conductor: William Conway</div>
            Mozart - Overture to the Marriage of Figaro<br/>
            Richard Strauss - Concerto for Oboe and Small Orchestra (soloist: Jane Emmanuel)<br/>
            Mendelssohn - Symphony No. 3 Scotch, Op 54<br/>
          </div>
        </div> 

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 1994</div>
            <div class="text-underline">Conductor:  Christopher Bell</div>
            Haydn - Symphony No 83 in G minor, "La Poule"<br/>
            Mozart - Concerto for Clarinet (K 622) (soloist: Andrew Russell)<br/>
            Zoltan Kod&#225;ly - Marosszek Dances<br/>
            Peter Maxwell Davies - An Orkney Wedding, with Sunrise<br/></div>
          <div class="col-lg-6"></div>
        </div> 
        
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 1994</div>
            <div class="text-underline">Conductor: John Lubbock</div>
            Mendelssohn - Hebrides Overture, ("Fingals Cave")<br/>
            Mahler (arr Schoenberg) - Lieder eines fahrenden Gesellen (soloist: Christine Cairns, mezzo-soprano)<br/>
            Beethoven - Symphony No. 3 in E Flat ("Eroica")<br/>
          </div>
        </div> 

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 1993</div>
            <div class="text-underline">Conductor:  William Conway</div>
            Edward Harper - The Fiddler of the Reels<br/>
            Mozart - Sinfonia Concertante in Eb for Violin and Viola, K.364 (soloists: Sharon Moir and Yvonne Jarrett)<br/>
            Richard Wagner - Siegfried Idyll<br/>
            Beethoven - Symphony No 1 in C, Opus 21<br/>
          </div>
          <div class="col-lg-6"></div>
        </div> 

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <div class="text-bold">Spring 1993</div>
            <div class="text-underline">Conductor:  Richard Honner</div>
            Tchaikovsky - Suite No 1 in D minor, Op 43<br/>
            Richard Strauss - Metamorphosen<br/>
          </div>
        </div> 

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 1992</div>
            Concert with Edinburgh University Chamber Orchestra<br/>
            <div class="text-underline">Conductor:  William Conway</div>
            Rossini - Barber of Seville Overture<br/>
            Benjamin Britten - Lachrymae, Op 48a (soloist: Carolyn Sparey-Gillies)<br/>
            Beethoven - Symphony No 7 in A major Op 92<br/>
          </div>
          <div class="col-lg-6"></div>
        </div> 

        <div class="row">
          <div class="col-lg-6">
            <div class="text-bold">Autumn 1991</div>
            <div class="text-underline">Conductor:  Paul Middleton</div>
            Tchaikovsky - Serenade for Strings<br/>
            Mozart - Flute Concerto in D Major (soloist: Camille Mason)<br/>
            Vivaldi - 'Winter' from the Four Seasons (soloist: Edward Doyle)<br/>
            Haydn - Symphony No. 44<br/>
          </div>
          <div class="col-lg-6"></div>
        </div> 
      </div>
    </div>
  </div>
</div>


{% endblock %}