
/*NAVBAR */

.nav-item {
  padding: 0 15px;
}

.dropdown-menu {
  background-color: rgba(200,200,200,0.7);
  min-width: 0px;
  width: 100%;
}

@media (max-width: 992px) {
  .dropdown-menu {
    background-color: none;
    width: 40%;
    border: none;
  }
}

.dropdown-item {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  text-align: center;
}