<!DOCTYPE html>

{% load static from staticfiles %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Kelvin Ensemble Website">
    <meta name="author" content="Ben Jackson">

    <title>{% block title %}{% endblock %}</title>

    {% include "website/includes/links.html" %} 

    {% block extrastyle %}{% endblock %}
  </head>

  <body>
    
    {% include "website/includes/navbar.html" %} 

    {% block full-content %} 
    {% endblock %}

    {% include "website/includes/footer.html" %} 

    {% include "website/includes/scripts.html" %} 

    {% block extrascripts %}
    {% endblock %}
  </body>

</html>