{% extends "website/base/base.html" %}
{% load static %}

{% block extrastyle %}

{% endblock %}

{% block full-content %}

<section class="bg-primary" id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        {% block page-icon %}{% endblock %}
        <h2 class="section-heading text-white">{% block header %}{% endblock %}</h2>
        <hr class="light">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          {% block content %}
          {% endblock %}
      </div>
    </div>
  </div>
</section>


{% endblock %}