{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block title %}
Contact Us
{% endblock %}

{% block header %}
Points of Contact
{% endblock %}

{% block content %}

<p>
  The most appropriate addresses for a number of common queries are below.  The Ensemble also has a postbox in the University's Music Faculty.
</p>

<div class="left_align_text allow_bullets">
  <ul>
    <li>For information on concerts, or to reserve tickets, please contact <a href="mailto:treasurer&#64;kelvin-ensemble.co.uk">treasurer&#64;kelvin-ensemble.co.uk</a></li>
    <li>To find out more about auditions and joining the ensemble, please contact <a href="mailto:stringmanager&#64;kelvin-ensemble.co.uk">stringmanager&#64;kelvin-ensemble.co.uk</a> for string players, or <a href="mailto:bwp&#64;kelvin-ensemble.co.uk">bwp&#64;kelvin-ensemble.co.uk</a> for brass, wind and percussion players.</li>
    <li>For information on our friends and sponsorship schemes, please contact <a href="mailto:fundraising&#64;kelvin-ensemble.co.uk">fundraising&#64;kelvin-ensemble.co.uk</a></li>
    <li>For other queries, please contact <a href="mailto:secretary&#64;kelvin-ensemble.co.uk">secretary&#64;kelvin-ensemble.co.uk</a> or <a href="mailto:webmaster&#64;kelvin-ensemble.co.uk">webmaster&#64;kelvin-ensemble.co.uk</a></li>
  </ul>
</div>

<hr class="primary">

A full list of the Kelvin Ensemble Committee is listed below:

<div class="panel-group contact-accordion" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Chairperson - Samantha Julia Greenwood
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          chairperson&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Secretary - Murdo Douglas
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        secretary&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Treasurer - Arianna Clark
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        treasurer&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Concert Manager - Marie Driver
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        concertorganiser&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Brass, Wind and Percussion Manager - Amy Fraser
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        bwp&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          String Managers - Lina-Lotta Kauhanen and Ingrid Bols
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        stringmanager&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Librarian - Jack Findlay
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        librarian&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Social Managers - Barney Edmonds and Jamie Munro
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        socialmanager&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Publicist - Imogen Leadbetter
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
        publicity&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          Fundraising Coordinators - Sagnick Mukherjee
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">
        fundraising&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Webmaster - Leah Spiedel Johnson
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body">
        webmaster&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwelve">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          Ordinary Member - Matthew Kennedy, Sam Maya, Malcolm Davers Millar, Priannah Kajol Patel
        </a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
      <div class="panel-body">
          om&#64;kelvin-ensemble.co.uk
      </div>
    </div>
  </div>
</div>

{% endblock %}