{% extends "website/base/subbase.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<style>	
	#page-header {
		background-image: url("{% static 'website/media/img/headers/6.jpg' %}");
	}
</style>
{% endblock %}

{% block title %}
Contact Us
{% endblock %}

{% block page-icon %}
<i class="fa fa-envelope fa-3x sr-contact text-white header-icon"></i>
{% endblock %}

{% block header %}
Points of Contact
{% endblock %}

{% block content %}

<p>
  The most appropriate addresses for a number of common queries are below.  The Ensemble also has a postbox in the University's Music Faculty.
</p>

<div class="left_align_text allow_bullets">
  <ul>
    <li>For information on concerts, or to reserve tickets, please contact <a href="mailto:treasurer&#64;kelvin-ensemble.co.uk">treasurer&#64;kelvin-ensemble.co.uk</a></li>
    <li>To find out more about auditions and joining the ensemble, please contact <a href="mailto:stringmanager&#64;kelvin-ensemble.co.uk">stringmanager&#64;kelvin-ensemble.co.uk</a> for string players, or <a href="mailto:bwp&#64;kelvin-ensemble.co.uk">bwp&#64;kelvin-ensemble.co.uk</a> for brass, wind and percussion players.</li>
    <li>For information on our friends and sponsorship schemes, please contact <a href="mailto:fundraising&#64;kelvin-ensemble.co.uk">fundraising&#64;kelvin-ensemble.co.uk</a></li>
    <li>For other queries, please contact <a href="mailto:secretary&#64;kelvin-ensemble.co.uk">secretary&#64;kelvin-ensemble.co.uk</a> or <a href="mailto:webmaster&#64;kelvin-ensemble.co.uk">webmaster&#64;kelvin-ensemble.co.uk</a></li>
  </ul>
</div>

<hr class="primary">

A full list of the Kelvin Ensemble Committee is listed in the <a href="committee">committee</a> page.

{% endblock %}