{% extends "website/base/base.html" %}
{% load static from staticfiles %}

{% block title %}
Kelvin Ensemble
{% endblock %}

{% block extrastyle %}

{% endblock %}

{% block full-content %}

<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Glasgow University's Student Run Orchestra</h1>
      <hr>
      <p>Kelvin is an entirely student-run orchestra that performs two concerts a year within the university area, providing students with the chance to both learn and perform a wide variety of music in amazing venues.</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#concerts">Find Out More</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="concerts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Join Kelvin!</h2>
        <hr class="light">
        <p class="text-faded">Come and play for Kelvin! Our Open Rehearsal is on the 16th of September at 14:00 in the University Concert Hall (which can be found <a class="text-white" href="https://goo.gl/maps/qek8ymRHuh22">here</a>) and the auditions are held from the 23rd of September to the 1st of October.</p>
        <a class="btn btn-default btn-xl" href="join">More Details</a>
      </div>
    </div>
  </div>
</section>

<section id="extra-information">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center padding-bottom-small">
        <i class="fa fa-4x fa-music text-primary sr-icons"></i>
        <h3>Upcoming Concert!</h3>
        <p class="text-muted">On the 18th of November we are playing in Glasgow University's Bute Hall!</p>
        <a class="btn btn-primary btn-l" href="concerts">Concert Information</a>
      </div>
      <div class="col-lg-4 col-md-6 text-center padding-bottom-small">
        <i class="fa fa-4x fa-calendar text-primary sr-icons"></i>
        <h3>Members Calendar</h3>
        <p class="text-muted">Keep up-to-date with everything Kelvin.</p>
        <a class="btn btn-primary btn-l" href="calendar">Dates, Dates, Dates!</a>
      </div>
      <div class="col-lg-4 col-md-6 text-center padding-bottom-small">
        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
        <h3>Support Us</h3>
        <p class="text-muted">Help Support the Orchestra!</p>
        <a class="btn btn-primary btn-l" href="support">Find Out More!</a>
      </div>
    </div>
  </div>
</section>

<div class="call-to-action bg-dark">
  <div class="container text-center">
    <h2>Our Facebook Page</h2>
    
    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="fb-page" data-href="https://www.facebook.com/kelvin-ensemble/" data-tabs="timeline" data-width="900" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kelvin-ensemble/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kelvin-ensemble/">Kelvin Ensemble</a></blockquote></div>

  </div>
</div>

{% endblock %}

{% block extrascripts %}

{% endblock %}