{% extends "website/base/base.html" %}
{% load static %}
{% block title %}Kelvin Ensemble{% endblock %}
{% block extrastyle %}
    <style>
    header.masthead {
        background-image: url("{% static 'website/media/img/headers/homepage.jpg' %}");
    }

    .col {
        width: 50%;
    }
    </style>
{% endblock %}
{% block full-content %}
    <header class="masthead">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Glasgow University's Student Run Orchestra</h1>
                <hr>
                <p>
                    <b>Kelvin is an entirely student-run orchestra that performs two concerts a year within the university area, providing students with the chance to both learn and perform a wide variety of music in amazing venues.</b>
                </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger"
                   href="#extra-information">Find Out More</a>
<!--                    <p> <br> </p>
                <a class="btn btn-primary btn-xl"
                   href="https://docs.google.com/forms/d/e/1FAIpQLSdj2qa3pqxmRL_dwxsC8BpEApStFOCHjq_MzC-nnFf2Wi5GXg/viewform">Fresher's Interest Form</a> -->
            </div>
        </div>
    </header>
    <div>
        <!-- ONLINE AUDITION MESSAGE -->
        <!-- <section class="bg-primary" id="concerts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <i class="fa fa-4x fa-video-camera text-white sr-icons"></i>
                    <h2 class="section-heading text-white">Video auditions now open!</h2>
                    <hr class="light">
                    <p class="text-faded">     
                        Click to find out more about audtions! 
                    </p>
                    <a class="btn btn-default btn-xl" href="join">Join Kelvin!</a>
                </div>
            </div>
        </div>
</section> -->
        <!-- AUDITION MESSAGE -->
        <!-- <section class="bg-primary" id="concerts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <i class="fa fa-4x fa-users text-white sr-icons"></i>
                    <h2 class="section-heading text-white">Join Kelvin</h2>
                    <hr class="light">
                    <p class="text-faded">We are looking for new members!  Click to find out more about the orchestra and how to audition. </p>
                    <a class="btn btn-default btn-xl" href="info">Auditions and More Information</a>
                </div>
            </div>
        </div>
</section> -->
        <!-- COMMITEE MESSAGE -->
        <!-- <section class="bg-primary" id="concerts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <i class="fa fa-4x fa-users text-white sr-icons"></i>
                    <h2 class="section-heading text-white">We have elected a new committee for the next year!</h2>
                    <hr class="light">
                </p>
                <a class="btn btn-default btn-xl" href="committee">Meet the new committee</a>
            </div>
        </div>
    </div>
</section> -->
        <!-- CONCERT MESSAGE -->
        <!-- <section class="bg-primary" id="concerts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <i class="fa fa-4x fa-music text-white sr-icons"></i>
                    <h2 class="section-heading text-white">Upcoming Concerts</h2>
                    <hr class="light">
                    <p class="text-faded">Our next concert will be on 20th November 2022!</p>
                    <a class="btn btn-default btn-xl" href="concerts" style="margin-top: 20px;">Buy Tickets</a>
                </div>
            </div>
        </div>
</section> -->
        <section id="extra-information">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center padding-bottom-small">
                        <i class="fa fa-4x fa-envelope text-primary sr-icons"></i>
                        <h3>Contact Us</h3>
                        <p class="text-muted">Get in touch with the Kelvin Ensemble.</p>
                        <a class="btn btn-primary btn-l" href="contact">Contact Information</a>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center padding-bottom-small">
                        <i class="fa fa-4x fa-calendar text-primary sr-icons"></i>
                        <h3>Calendar</h3>
                        <p class="text-muted">Keep up-to-date with everything Kelvin.</p>
                        <a class="btn btn-primary btn-l" href="calendar">Dates, Dates, Dates!</a>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center padding-bottom-small">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Support Us</h3>
                        <p class="text-muted">Help Support the Orchestra!</p>
                        <a class="btn btn-primary btn-l" href="support">Find Out More</a>
                    </div>
                    <!-- Composition Competition -->
                    <div class="col-lg-3 col-md-6 text-center padding-bottom-small">
                        <i class="fa fa-4x fa-pencil text-primary sr-icons"></i>
                        <h3>Composition</h3>
                        <p class="text-muted">Enter your piece to our composition competition!</p>
                        <a class="btn btn-primary btn-l" href="composition">Find Out More</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="call-to-action bg-dark">
            <div class="row">
                <div class="col">
                    <div class="container text-center">
                        <h2>Facebook</h2>
                        <!-- Facebook -->
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-page"
                             data-href="https://www.facebook.com/kelvin-ensemble"
                             data-tabs="timeline, events"
                             data-width=""
                             data-height=""
                             data-small-header="false"
                             data-adapt-container-width="true"
                             data-hide-cover="false"
                             data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/kelvin-ensemble"
                                        class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/kelvin-ensemble">Kelvin Ensemble</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="container text-center">
                        <h2>Twitter</h2>
                        <a class="twitter-timeline"
                           href="https://twitter.com/kelvinensemble?ref_src=twsrc%5Etfw"
                           data-height="500">>Tweets by kelvinensemble</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
