{% extends "website/base/subbase.html" %}
{% load static %}
{% block extrastyle %}
    <style>
	#page-header {
		background-image: url("{% static 'website/media/img/headers/concert.jpg' %}");
	}

	.playlists {
		overflow: auto;
		white-space: nowrap;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 50% 50%;
		padding: 20px;
	}

	.grid-item {
		align-self: center;
	}

	@media screen and (max-width: 650px) {
		.grid-container {
			grid-template-columns: auto;
		}
	}

	.ticket-form {
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: rgba(255, 255, 255, 0.2);
		color: white;
		padding: 10px;
	}

	@media (prefers-color-scheme: dark) {
		.ticket-form {
			background-color: rgba(0, 0, 0, 0.3);
			color: white;
		}
	}
    </style>
{% endblock %}
{% block title %}Upcoming Concerts{% endblock %}
{% block page-icon %}<i class="fa fa-music fa-3x sr-contact text-white header-icon"></i>{% endblock %}
{% block header %}Upcoming Concerts{% endblock %}
{% block content %}
    <!-- No Concert Announcement -->
    <h2>Payment Error</h2>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>
        Unfortunately your payment has not gone through. Please try again.
    <br>
    <br>
    If sufficient time has passed since beginning the checkout process, it is possible the session expired, or ticket availability has changed since starting.
    </p>
    <!-- Photos are now available on our <a href="https://www.facebook.com/kelvinensemble">Facebook</a>. &#128247; -->
</p>
<!-- <hr class="primary small-padding" /> -->
<!-- <h3>Kelvin Tour</h3><div class="left_align_text allow_bullets"><p>
We are going on tour to Northern Ireland!
</p><p>We are looking for:</p><p><ul><li> 1 horn </li><li> 1 violin </li><li> 1 viola </li></ul></p><p>If you are interested, or would like more information, please contact the <a href="mailto:tourmanager@kelvin-ensemble.co.uk">Tour Manager</a>.
</p></p> -->
<!--
<br /><br /><div><b>Date:</b> Thursday 31st May</div><div><b>Venue:</b> Kendal Parish Church</div><div>Directions <a href="https://goo.gl/maps/rmUQcwdS4Bz" target='_blank'>here</a></div><hr class="primary" /><div><b>Date:</b> Saturday 2nd June</div><div><b>Venue:</b> Arran High School, Lamlash</div><div>Directions <a href="https://goo.gl/maps/DaafivFttqv" target='_blank'>here</a></div><hr class="primary" /><div><b>Date:</b> Sunday 3rd June</div><div><b>Venue:</b> Glasgow University Memorial Chapel</div><div>Directions <a href="https://goo.gl/maps/WKbX8tVqwUu" target='_blank'>here</a></div>
-->
{% endblock %}
