:root {
    color-scheme: light dark;
}

/******** 2020 ********/
h2{
  margin-bottom: 2%;
  font-size: 1.8rem;
}

hr{
  margin: 3% auto;
}

section{
  padding-top: 50px;
}




/******** 2020 ********/


/* Navbar */

/* For Desktop Only */
@media (min-width: 992px) {
  #mainNav {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #008888;
  }
  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #008888;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #008888;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #008888;
  }
}

#mainNav.navbar-shrink {
  border-bottom: #008888 solid 1px;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav-item {
  padding: 0 15px;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.95);
  min-width: 0px;
  width: 100%;
  border-width: 0;
}

.dropdown-item {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  color: #000000;
}

.dropdown-item:hover {
  color: #00AAAA;
  background-color: #FFFFFF;
}

.dropdown-divider {
  margin: 1px 0;
}

.dropdown-custom {
  position: relative;
}

/* For Mobile Only */
@media (max-width: 992px) {
    #mainNav {
        background-color: rgba(255, 255, 255, 0.95);
    }
    
  .dropdown-menu {
      /*
    background-color: #FFF;
       */
    border: none;
    padding: 0;
  }
  .dropdown-item {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    text-align: center;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #000000;
  }
  .nav-item {
    text-align: center;
  }
  #mainNav .navbar-brand {
    color: #008888;
  }
}

/* Dark Mode (macOS 10.14+) */
@media (prefers-color-scheme: dark) {
    
    /* Dark Mode for Mobile Only */
    @media (max-width: 992px) {
    #mainNav {
        background-color: rgba(38, 38, 38, 0.95);
    }
    #mainNav.navbar .navbar-nav>li.nav-item>a.nav-link,
    #mainNav.navbar .navbar-nav>li.nav-item>a.nav-link:focus,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #FFFFFF;
    }
    
    }
    
#mainNav.navbar-shrink {
    border-bottom: #008888 solid 1px;
    background-color: rgba(38, 38, 38, 0.95);
}

.dropdown-menu {
    background-color: rgba(38, 38, 38, 0.95);
}

.dropdown-item {
    color: #FFFFFF;
}

.dropdown-item:hover {
    background-color: rgba(38, 38, 38, 0.95);
}

}

/* Footer Control */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 192px;
}

.footer {
  position: relative;
  clear:both;
  margin-top: -192px;
  height: 192px;
} 

@media (max-width: 767px) {
  #main {
    padding-bottom: 468px;
  }

  .footer {
    margin-top: -468px;
    height: 468px;
  }
}

/* HOME ------------------------------------------------------------------------------ */

.sr-icons {
  padding-bottom: 20px;
}

/* CONCERTS -------------------------------------------------------------------------- */

.ticket-info {
  margin: 30px 10px 20px;
}


/* PLAYERS --------------------------------------------------------------------------- */

/* Auditions */

.audition-iframe {
  width: 100%;
  height: 1000px;
  border-width: 0px;
  background-color: transparent;
}

/* Calendar */

.iframe-calendar {
  border-width: 0;
  max-width: 900px;
  width: 100%;
  height: 500px;
  overflow: hidden;
}


/* ABOUT ----------------------------------------------------------------------------- */

/* Committee */

.committee-images img {
  max-width: 200px;
  max-height: 300px;
}

.committee-images p {
  margin-bottom: 0px;
}

.small-padding {
  padding-bottom: 15px;
}

/* Gallery */

#baguetteBox-overlay {
  background-color: #333 !important;
}

/* Videos */

.video-iframe-big {
  width: 100%;
  height: 400px;
  border-width: 0;
}

.left_align_text {
  text-align: left;
}

.allow_bullets>ul>li {
  list-style-type: disc;
}

.video-iframe-small {
  width: 100%;
  height: 280px;
  border-width: 0;
}

/* Past Concerts */

.panel {
  margin: 3px;
}

.panel-heading {
  border: #bbbbbb solid 1px;
  border-radius: 2px;
  background-color: #008888;
  padding: 2px;
}

.panel-title {
  margin: 8px;
}

.panel-title a {
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .padding-bottom-small {
    padding-bottom: 20px;
  }
}


/* CONTACT US ----------------------------------------------------------------- */

/* Contact Us */

.contact-accordion .panel-title {
  font-size: 18px;
  margin: 5px;
}

.contact-accordion .panel-heading {
  padding: 1px;
}

/* Support Us */

.support-accordion .panel-title {
  font-size: 20px;
  margin: 6px;
}

.support-accordion p {
  margin-bottom: 0px;
}

.sponsors img {
  padding-bottom: 10px;
}

/* Mailing List */

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}


/* Other ------------------------------------------------------------------------ */

.col-centered {
  float: none;
  margin: 0 auto;
}

#page-header {
  background: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 40px;
}

.footer {
  padding: 60px 0 40px 0;
}

ul>li {
  list-style-type: none;
}

.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.header-icon {
  margin-bottom: 20px;
}

.full-small-padding {
  padding: 20px;
  border-radius: 8px;
}

.border-radius-med {
  border-radius: 8px;
}
